/* ABOUT PAGE STYLES */

/* Navigation Styles */
.inquiry-nav {
  display: none;
}

.main-nav {
  border-bottom: 1px solid #123659;
}

/* Section Styles */
section:last-of-type {
  border: none;
  padding-bottom: 0;
}
