/* COMMUNITY PAGE STYLES */

/* Navigation Styles */
.inquiry-nav {
  display: none;
}

.main-nav {
  border-bottom: 1px solid #123659;
}

/* Section Styles */
section:last-of-type {
  border: none;
  padding-bottom: 0;
}

/* Image Styles */
section img {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

/* Video Styles */
iframe {
  box-sizing: border-box;
  clear: both;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 528px;
  height: 297px;
  margin-top: 1.3rem;
}
