/* Global Styles */
/* Color variables */
:root{
  --dark-gray: #3b3b3b;
  --light-gray: #545454;
  --light-highlight: #85bf47;
}


html {
  height: 100vh;
  width: 100%;
  background: var(--dark-gray);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  position: relative;
  background: var(--dark-gray);
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  padding: 2rem 0;
}

p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

