/* Global Styles */
html {
  height: 100vh;
  background: url("/images/background.png"), #222222;
  background-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  position: relative;
  background: #fff;
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
}

article {
  padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  padding: 3rem 0 1.5rem;
}

p {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

/* Section Styles */
section img {
  box-sizing: content-box;
  float: left;
  width: 165px;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
}
/* section::after {
  clear: both;
  content: "";
  display: block;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e5e5;
} */

section {
  clear: both;
  display: block;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e5e5;
}
