header {
  display: flex;
  background: var(--light-gray);
  padding: 0 4rem 0rem;
}

.title {
  display: inline-block;
  flex: 1;
}
.title h1 {
  display: inline-block;
}

.title img {
  width: 60px;
  margin-right: 1rem;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  align-self: flex-end;
}

header ul a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2.6rem;
  padding: 0 3rem 1rem;
}

header ul a.active {
  background: url('/images/check-mark.png') no-repeat 3px 10px / 10%;
}

header ul a::after {
 position: relative;
 display: block;
 margin: 0 auto;
 content: "";
 height: 2px;
 margin-top: .3rem;
 background: var(--light-gray);
}

header ul a:hover::after {
  background: var(--light-highlight);
}

