/* Header Style */
/* header {
  background: url("../images/header.jpg") no-repeat 0% 59% / 110%;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.title {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 3rem 2rem 0;
  text-align: center;
  color: white;
  width: 280px;
  height: 100%;
}

.title * {
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.title img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding: 1rem 0 1rem;
}
.title h1 {
  font-size: 4rem;
  line-height: 1.1;
}
.title p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.title a {
  display: block;
} */

header {
  position: relative;
  background: url("../images/header.jpg") no-repeat 0% 59% / 110%;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.title {
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  text-align: center;
  color: white;
  border-radius: 15px;
  width: 310px;
  height: 334px;
  top: 10px;
  left: 21px;
}

.title * {
  box-sizing: content-box;
  display: block;
  margin: 0 auto;

}
.title img {
  display: block;
  margin: 0 auto;
  max-width: 270px;
  padding-top: 20px;
  padding-bottom: 10px;

}
.title h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  padding-bottom: 10px;

}
.title p {
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 10px;

}
.title a {
  display: block;
}

@media (max-width: 640px) {
  .title {
    position: absolute;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    text-align: center;
    color: white;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  .title img {
    display: block;
    margin: 0 auto;
    max-width: 270px;
    padding-top: 50px;
    padding-bottom: 10px;
  
  }
  .title h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    padding-bottom: 10px;
  
  }
  .title p {
    font-size: 1.5rem;
    padding: 0;
    padding-bottom: 10px;
  
  }

  header {
    background: url("../images/header.jpg") no-repeat center center / 210%;
    overflow: hidden;
    width: 100%;
    height: 400px;
  }
}
