/* Navigation Style */
/* .mobile-nav li {
  width: 100%;
  border-bottom: 1px solid #1f4469;
  display: block;
} */
.mobile-nav {
  display: none;
}

/* desktop-nav styles */
nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #002243;
}

nav li {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 1.8rem 0;
  width: 150px;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}
.partner-nav a,
.inquiry-nav a {
  width: 188px;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  font-size: 1.4rem;
}

.active::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 20%;
  background: #4c92d9;
  top: 0px;
  right: 8px;
}

.partner-nav .active::before,
.inquiry-nav .active::before {
  width: 10px;
  height: 10px;
  top: 0px;
  right: 6px;
}

nav a:hover {
  background: #4c92d9;
}

.main-nav {
  border-bottom: 1px solid #003366;
}

@media (max-width: 640px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav li {
    width: 100%;
    border-bottom: 1px solid #123659;
    display: block;
  }
  .mobile-nav a {
    padding: 0.9rem 0 1.3rem;
    width: 100%;
  }
}
