/* PARTNERS PAGE STYLES */

/* Navigation Styles */
.inquiry-nav {
  display: none;
}

.main-nav {
  border-bottom: 1px solid #123659;
}

/* Section Styles */
article section:first-of-type {
  min-height: 235px;
}

section:last-of-type {
  border: none;
  padding-bottom: 0;
}

section h3 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
}

/* Table Styles */
table.mobile {
  display: none;
}

table {
  margin: 4rem auto 0;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table img {
  float: none;
}
tr {
  padding-bottom: 2rem;
}

td {
  padding: 4rem 1rem;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}

table tr:first-of-type td {
  padding-top: 0;
}

table tr:last-of-type td {
  border: none;
  padding-bottom: 0;
}

td img {
  width: 175px;
}
td p img {
  margin: 0 0 0 0.5rem;
  width: 25px;
  filter: none;
}

td p:nth-last-of-type(1) a {
  text-decoration: none;
}

@media (max-width: 640px) {
  table.desktop {
    display: none;
  }

  table.mobile {
    display: block;
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  table.mobile tr td:first-of-type img {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 4rem 0 2rem;
  }

  table.mobile td,
  table.mobile tr,
  table.mobile p,
  table.mobile h3 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  table.mobile tr {
    padding-bottom: 3rem;
    border-bottom: 1px solid #e5e5e5;
  }

  table.mobile tr:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
  table.mobile tr td:nth-child(2) {
    padding-bottom: 1rem;
  }

  table.mobile td p:not(:first-child) {
    padding-bottom: 1rem;
  }
}
