/* SERVICES PAGE STYLES */

/* Navigation Styles */
.partner-nav,
.inquiry-nav {
  display: none;
}

.main-nav {
  border-bottom: none;
}

/* Section Styles */
section:last-of-type {
  border: none;
  padding-bottom: 0;
}

.testimonial {
  background: rgba(97, 168, 241, 0.2);
  max-width: 400px;
  border-radius: 12px;
  float: right;
  margin-left: 1rem;
  padding: 1.5rem;
}

.testimonial p {
  padding: 0;
  padding-bottom: 0.3rem;
  text-align: center;
  color: #123659;
  font-size: 1.4rem;
}

.testimonial p:last-of-type {
  padding: 0;
  font-weight: 600;
  font-size: 1.6rem;
}

@media (max-width: 640px) {
  .testimonial {
    clear: both;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }
}
