body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #eee;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: white;
}

header {
  display: flex;
  align-content: flex-end;
  justify-content: baseline;
  width: 100%;
  background: green;
  color: white;
}
header h1 {
  flex: 1;
  border: 3px solid yellow;
  font-family: "Open Sans Condensed", "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  padding: 0 2rem;
}

header h1 span {
  color: #72f86e;
}
header h2 {
  text-align: center;
  min-width: 10rem;
  border: 3px solid pink;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 1rem;
}
