*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --color-black: #222222;
  --color-white: #fafafa;
  --color-light-gray: #eeeeee;
  --color-gray: #777777;
  --color-dark-gray: #4e4e4e;
  --color-highlight-1: #7fbc4e;
  --color-highlight-1: #00aeef;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--color-dark-gray);
  color: var(--color-black);
}

h1,
h2 {
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  font-size: 4.7rem;
  color: var(--color-dark-gray);
  padding: 2.5rem 0 1.8rem;
  text-align: center;
}

h2 {
  line-height: 1.2;
  font-size: 2.5rem;
}

p,
.p_small {
  line-height: 1.9;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--color-dark-gray);
  margin-bottom: 1.5rem;
}

.p_small {
  font-size: 1.3rem;
  line-height: 1.5;
}

.wrapper {
  background-color: var(--color-white);
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 6rem 6rem;
}

header {
  text-align: center;
  background-color: var(--color-gray);
  max-width: 120rem;
  margin: 0 auto;
}

header h1 {
  letter-spacing: 2px;
  color: var(--color-white);
  padding: 5rem 0;
}

/* NAVIGATION */
.nav {
  text-align: center;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  border-bottom: var(--color-light-gray) solid 2px;
}

.nav a {
  line-height: 0px;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: var(--color-gray);
  padding: 3rem 3.25rem;
}

.nav a:hover {
  background-color: var(--color-light-gray);
}

/* SUB NAVIGATION */
.sub_nav {
  background-color: var(--color-white);
}

.sub_nav a {
  line-height: 0px;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-gray);
  padding: 3rem 3.25rem;
}

.sub_nav a:hover {
  background-color: var(--color-light-gray);
}
