*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  --color-black: #222222;
  --color-white: #fafafa;
  --color-light-gray: #eeeeee;
  --color-gray: #777777;
  --color-dark-gray: #4e4e4e;
  --color-highlight-1: #7fbc4e;
  --color-highlight-1: #00aeef;
}

body {
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--color-white);
  color: var(--color-black);
  background: var(--color-gray);
}

h1,
h2 {
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--color-dark-gray);
  text-align: center;
  margin: 1.5rem 0;
}

h2 {
  line-height: 1.2;
  font-size: 2rem;
}

p,
.p_small {
  line-height: 1.9;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--color-dark-gray);
  margin-bottom: 1.5rem;
}

.p_small {
  font-size: 0.9rem;
  line-height: 1.7;
}

header h1 {
  padding: 5rem 0;
}

.container {
  background-color: var(--color-white);
}

.content {
  padding: 3rem 4rem;
}
