*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  --color-black: #222222;
  --color-white: #f7f7f7;
  --color-light-gray: #eeeeee;
  --color-gray: #777777;
  --color-dark-gray: #4e4e4e;
  --color-highlight-1: #ee6e73;
}

body {
  background: var(--color-gray);
  background-image: url("images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-black);
}

.container {
  background: transparent;
}

.content {
  background-color: var(--color-white);
  padding: 1rem 4rem 4rem;
}

.btn {
  font-size: 1rem;
  background-color: var(--color-highlight-1);
  text-transform: none;
  box-shadow: none;
}

h1,
h2 {
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--color-gray);
  text-align: center;
  margin: 1.5rem 0;
}

h2 {
  line-height: 1;
  font-size: 2rem;
}

p,
.p_small {
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--color-dark-gray);
  margin-bottom: 1.5rem;
  text-align: justify;
}

p:last-of-type {
  margin-bottom: 0;
}

.p_small {
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: justify;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  background: var(--color-white);
  color: var(--color-gray);
  padding: 1.5rem 4rem 1rem;
}
header h1 {
  color: inherit;
  font-size: 3.5rem;
  padding: 0;
  margin: 0 0 0.3rem;
}
header p {
  color: inherit;
  text-align: right;
  margin: 0;
  padding: 0;
}
header p:last-of-type {
  margin-bottom: 0.5rem;
}

header img {
  width: 55px;
  margin-right: 15px;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}
header .contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .btn {
  position: absolute;
  left: 4rem;
  bottom: 1.5rem;
}
